body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main_container{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 3fr;
}

.sidebar{
    grid-area: 1/ 1 /3 /2;
    background-color: skyblue;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 32px;
}

.side_part1, h1{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 20%;
    overflow: hidden;
}

.side_part1 p, .side_part2 p{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.side_part2{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 20%;
    overflow: hidden;
}

a{
    font-size: larger;
    color: white;
    font-weight: bolder;
}


.user_detail{
    grid-area: 1/2/2/3;
    background-color: aquamarine;
}


.Project_list{
    grid-area: 2/2/3/3;
    background-color: lightslategray;
    display: grid;
    grid-template-columns: 65%;
    grid-template-rows: 10% 80%;
    padding: 20px;
}

.project{
    grid-area: 2/1/3/2;
    height: 100%;
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.detail{
    border: solid ;
    background-color: white;

    border-radius: 10%;
    align-items: start;
    padding-left: 5%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Header{
    display: flex;
   justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 25px;
}

.user_part{
    display: flex;
    justify-content: space-between;
}

.user_part2{
    display: flex;
    align-items: center;
    gap: 32px;
    padding-left: 20px;
}
.user_part2 div p{
    margin-bottom: -20px;
}

.user_button{
    display: flex;
    align-items: center;
    gap: 15px;

}

.user_button button{
    color: white;
    border-radius: 15px;
    background-color: lightblue;
    font-size: large;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
}

input{
    border-radius: 10px;
}

.detail_icon{
    margin-left: 75%;
    display: flex;
    gap: 16px;
    resize: both;
    
}

.project_part2{
    grid-area: 1/3/3/4;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-right: 50px;
}
.announcement{
    grid-area: 1/1/2/1;
    display: grid;
}
.announcement h2 {
    grid-area: 1/1/2/3;
    
}
.announcement_in{
    grid-area: 2/1/3/3;
    padding-left: 30px;
    background-color: white;
    
}


.announcement_in .first2{
    border-bottom: 2px solid black;
}


.trending{
    grid-area: 2/1/3/1;
    overflow: hidden;
}

.trend{
    display: grid;
    grid-template-columns: 3fr 7fr;
    column-count: 2;
    background-color: white;
}

.icon{
    grid-area: 1/1/2/2;
    padding-left: 25%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.accounts{
    grid-area: 1/2/2/3;
    padding-left: 1rem;
}

.icon img, div img{
    border-radius: 50%;
}

p img, p a{
    display:inline;
}
p img{
    align-items: middle;
    color: white;
    width: 35px;
    height: 35px;
}

.detail div img{
    width: 20px;
    height: 20px;
}

.searchingbar, .searchingbar2{
    display: flex;
    gap: 15px;
    padding-right: 50px;
    justify-items: center;
    justify-content: center;
}